#block_page{

	height:1200px;

}
#header{
	height:70px;
	background-color:#00bfff ;
	border:1px solid black;
	border-radius: 5px;
}
.upright_bar{
	text-align: right;
	width:350px;
	float:right;
	height:30px;
	margin-top: 20px;

}
#menu{
	float: left;


}
#title{
	width:200px;
	height:30px;
	margin-top: 20px;
	font-size: 1.5em;
	font-family: Dayrom,serif;
	color:white;
	
	
}
a{
	padding-left: 20px;
	text-decoration: none;
	color:black;
	font-size: 1em;
}
a:hover{
	color: green;
}
#title,#menu{
	display: inline-block;
	
}
.section{
	height:900px;
	background: url(loan.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    vertical-align: top;
}
.intro{
	width:600px;
	padding-top: 70px;
	padding-left: 50px;
	margin-left: 150px;	
}
.intro h1{
	font-size: 3.5em;
}
.intro h2{
	text-align: center;
}
.log{
	width:300px;
	height:320px;
	background-color: #ffff99;
	padding-left: 20px;
	border-radius: 10px;
}
.intro,.log{
	display:inline-block;
	margin-top: 100px;
	margin-left:100px;
}
#log1{
	height:60px;
}
#log1 input{
	height:40px;
	width:280px;
} 
#reset a{
	font-size:0.8em;
	margin-left: 20px;

}
#buttonlog input{
	width:90px;
	height:40px;
	background-color: #bfbf8c;
	border-radius: 5px;
}


#buttonlog,#reset{
	display:inline-block;
}
.appform{
	margin:auto;
	width:900px;
	background-color: white;
	padding-left:20px;
}
#form1{
	margin-top: 20px;
}
#comment input{
	height:150px;
	width:600px;
}
.appform h2{
 text-align: center;
 font-size: 2em;
}
h3{
	color: #00bfff;
}
#sub input{
	width:150px;
	height:30px;
	margin-left:150px;
	margin-top:20px;
	background-color: #ffff99;
	border-radius: 7px;
}
.sign{
	background-color: pink;
	width:400px;
	height:550px;
	margin:auto;
	padding-left: 50px;
	border-radius: 5px;
}
#buttonsign input{
    width:280px;
	height:40px;
	background-color: #bfbf8c;
}
footer{
	text-align: center;
}
.signpart{
	height:900px;
	background: url(imgloan.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    vertical-align: top;